## INSTRUCTIONS ON HOW TO RUN PROGRAM FROM THE COMMAND LINE

1. Make sure that you have installed Python on your computer.
2. Open your command line
3. Type "pip install numpy" (pip is the python installer for libaries. This should be included when you download Python)
4. Clone the repository from GitHub using the command git clone https://github.com/pedronemalceff/cot-4500-intro.git, This will create a new directory with the same name    as the repository, and it will copy all the files from the repository into that directory.
5. Navigate into the newly created directory using cd cot-4500-intro.git
6. Type python intro-to-python.py

Test